.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
}

.input {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  background: #f8f9fc;
  border: 1px solid #bbc8dd;
  border-radius: 10px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: rgba(28, 28, 28, 0.4);

  outline: none;
  transition: all 0.2s ease;
}

.input::placeholder {
  color: #b9bbc1;
}

.input:focus {
  background: #fff;
  border-color: #ff7a00;
  box-shadow: 0 0 0 3px rgba(255, 122, 0, 0.15);
}
