.container {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.index {
  width: 250px;

  border-radius: 610px;
  background: black;
}

.contentContainer {
  flex: 1;
  background: #fff;
  border-radius: 24px 24px 0 0;
  padding: 20px;
}
