.bottomNav {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;

  padding: 16px 60px 28px 60px;
  display: flex;
  justify-content: space-between;

  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

  z-index: 200;
  box-sizing: border-box;
}
