.container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
  padding: 1.5px 9px 2px 9px;
  gap: 4px;
  border-radius: 21px;
  background: #fff;
  white-space: nowrap;
  backdrop-filter: blur(1px);
}

.profile > p {
  color: rgba(28, 28, 28, 0.8);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
