.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.missionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.days {
  color: var(--Point, #ff6701);
  font-weight: 700;
}

.daysContainer {
  color: rgba(28, 28, 28, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.goal {
  text-align: left;
  align-self: stretch;
  color: var(--Black-900, #1c1c1c);
  font-size: 20px;
  font-weight: 500;
}

.prize {
  color: rgba(28, 28, 28, 0.5);
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
