.container {
  height: 590px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../assets/avatar/background/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gotoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  margin-top: 30px;

  width: 100%;
  box-sizing: border-box;
}

.gotoButtons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.gotoButtons span {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.gotoIcon {
  width: 47px;
  height: 47px;
  aspect-ratio: 1/1;
}

.pointContainer {
  display: inline-flex;
  padding: 4px 8px 4px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}

.pointIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.point {
  color: var(--Black-900, #1c1c1c);
  font-size: 14px;
  font-weight: 500;
}
