.roomCard {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.challengeTitle {
  color: rgba(28, 28, 28, 0.9);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
}

.challengeSubTitle {
  color: rgba(28, 28, 28, 0.5);
  font-size: 14px;
  font-weight: 500;
}
