#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

p {
  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
}
